<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>RecipeName</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
        </div>
        <ul class="dropdown-menu">
            <li><a href="#">To shopping List</a></li>
            <li><a href="#">Manage Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Recipe Discription</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Ingredients</p>
    </div>
</div>