<div class="row">
    <div class="col-xs-12">
        <form >
            <div class="row">
                <div class="col-xs-5 form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name">
                </div>
                <div class="col-xs-3 form-group">
                    <label for="amount">Amount</label>
                    <input class="form-control" type="number" id="amount">
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success">Create</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-primary">Manage</button>
                    </div>
                </div>
            </div>           
        </form>
    </div>
</div>